#table-main-div{
    width: 100%;
    height: 100%;
    font-weight: bolder;
    font-size: xx-large;
}

#table-row-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    margin-bottom: 30px;
}